.cont1 {
    background-color: #e2e2e2;
}

.cont2 {
    padding: 20px;
    margin: 0px 20px;
    background-color: #f4f4f4;
}


/*<---------------->*/
/* Cards */
/*<---------------->*/

.cont2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.card {
    background-color: white;
    max-width: 550px;
    height: 550px;
    flex: 1 1 45%;
    box-shadow: 0 10px 40px rgba(126, 155, 189, 0.35);
    transition: transform 0.2s ease-in;
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-15px);
}

.card-link {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    transition: color 0.2s ease-in;
}

.card-link:hover {
    color: rgb(39, 91, 236);
}

.card-title {
    margin: 0 0 13px 0;
    font-weight: 600;
    font-size: 24px;
}

.card-img {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.card .carousel-inner {
    height: 300px;
    /* однакова висота */
}

.card .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}